<h1>自己紹介を編集する</h1>
<div class="form"> 
    <%= form_with(model: @user) do |f| %>
        <div class="input_form">
            <label>自己紹介文</label><br>
            <textarea name="user[introduce]" rows="5" cols="52" wrap="hard" maxLength="199" id="user_introduce"></textarea><br>
            <label>50文字以上、200文字未満で入力してください。</label><br>
        </div><br>

        <div class="input_form">
            <div class="file-input_form">
                <label>アバター画像</label><br>
                <label class="file-input">
                    <input type="file" style="display:none;" name="user[avatar]" id="user_avatar" accept="image/png, image/jpeg" />
                    画像ファイルを添付する
                </label>
            </div>
        </div><br>
        <%= f.submit "自己紹介を確定する", class: "btn" %>
    <% end %>
</div>