
<h1>新規登録</h1>

<div class="form"> 
    <div class="input_form"> 
        <label for="user_name">氏名</label><br>
        <input type="name" name="user[name]" id="user_name" />
    </div><br>

    <div class="input_form"> 
        <label for="user_email">メールアドレス</label><br>
        <input type="email" name="user[email]" id="user_email" />
    </div><br>

    <div class="input_form"> 
        <label for="user_password">パスワード</label><br>
        <input type="password" name="user[password]" id="user_password" />
    </div><br>

    <a href="#" class="btn">登録する</a><br>

</div>


