@import "bootstrap-sprockets";
@import "bootstrap";

$hover-white: #bababa;
$main-color: #1B5678;

/* universal */
body {
  padding-top: 120px;
  min-height: 100vh;
  width: 100%;
  background-color: white; 
  margin: 0 auto;
}  
  section {overflow: auto;}

  textarea {
    resize: none;
    rows: 5; 
    cols: 52;
    wrap: hard;
    maxLength: 199;
  }
  .center {text-align: center;
    h1 {margin-bottom: 10px;}
  }
  
/* header footer */
#header {
    position: absolute;
    width: 100%;
    left: 0;
    font-family: 'Roboto';
    float: left;
    margin-right: 10px;
    font-size: 36px;
    color: white;
    // text-transform: uppercase;
    letter-spacing: -1px;
    padding: 39px 39px;
    line-height: 42px;
    font-weight: bold;
    background-color: $main-color;
  }
.header-Button {
  font-family: 'Roboto';
  font-size: 18px;
  color: #000000BF;
  width: 100%;
  position: absolute;
  display: flex; //ボックスの表示種別
  justify-content: center; //ボックスの横方向の主軸に対して位置を指定
  align-items: center; //
  margin: 25px 0px;
  right: 39px;
  width: 152px;
  height: 53px;
  background-color: white;
  border-radius: 4px;
  &:hover {background-color: $hover-white;}
}
#footer {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 0;
  font-family: 'Roboto';
  font-size: 18px;
  color: white;
  padding: 0px 0px;
  background-color: $main-color;
  text-align:  center;
}

/* forms */
h1 {
  font-family: "Roboto";
  font-size: 36px;
  color: #000000BF;
  margin: 80px 0px;
  height: 48.02px;
  text-align:  center;
}

.form {
  display: block;
  margin:  auto 0;
  text-align:  center;
}

.input_form {
  display: inline-block;
  margin:  auto 0;
  text-align: left;
  margin-bottom: 38px;
}

label {
  display: inline;
  font-size: 12px;
  color: #0000008A;
  
}

input {
  display: inline;
  font-size: 16px;
  line-height: 19px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 480px;
  padding: 8px;
  margin-bottom: 38px;
}

textarea {
  display: inline;
  font-size: 16px;
  line-height: 19px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  width: 480px;
  padding: 8px;
}

.btn {
  display: inline-block; 
  color: white;
  width: 268px;
  height: 53px;
  padding: 16px 0px;
  margin-bottom: 38px;
  background-color: $main-color;
  border-radius: 4px;
  &:hover {
    color: white;
    background-color: $hover-white;
  }
}

.file-input_form {
  display: inline-block;
  margin:  auto 0;
  text-align: left;
  width: 480px;
  margin-bottom: 38px;
}

.file-input {
  display: inline-block;
  padding: 8px 24px;
  margin-top: 4px;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  background-color: #0000001A;
  color: #000000BF;
  margin-bottom: 38px;
  &:hover {background-color: $hover-white;}
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

#title_introduction {
  display: inline-block;
  text-align: left;
  margin: 240px 58px;
  padding: 0px 0px;
  border-bottom: 1px solid #000000;
}

select {
  text-align: left;
  line-height: 28.13px;
  margin: 40px auto;
  padding: 8px 16px;
  border-color: #DDDDDD;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
}

.category_wrapper {
  display: block;
  width: 960px;
  margin: 0 auto;
}






/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* profile page*/

.profile_page {
  width: 1440px;
  height: 742px;
  top: 120px;
  padding: 80px 0px 80px 0px;
}

.profile_block {
  display: flex;
  width: 960px;
  height: 360px;
  margin: auto;
}

.introduce_block {
  width: 520px;
  margin-left: 80px;
}

.title_introduce {
  border-bottom: 2px solid #00000080;
  width: 240px;
  height: 58px;
}

.title_introduce h1 {
  text-align: left;
  font-weight: 700;
  margin: 58px 0px;
}

.text_introduce {
  text-align: left;
  width: 520px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 32px 0;
  color: #000000BF;
}

.introduce_edit_btn {
  display: block;
  text-align: center;
  line-height: 48px;
  color: white;
  width: 242px;
  height: 53px;
  padding: 2px 0px;
  font-size: 18px;
  background-color: $main-color;
  border-radius: 4px;
  border-bottom: 0;
  &:hover {
    color: white;
    background-color: $hover-white;
  }
}


#avatar_image {
  //width: 360px;
  //height:360px;
  border-radius:50%;
  background-position: center;
}
#avatar_name {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.profile_content {
  display: block;
  width: 520px;
  height: 256px;
  margin-top: 52px;
  margin-left: 440px;
}

.profile {
  display: block;
  margin:  auto 0;
  text-align:  center;
  margin-top: 120px;
  height:742px;
}

.profile_form {
  display: block;
  text-align:  center;
  width: 960px;
  height:582px;
}

.chart {
  margin: 0 179.5px;
}

.chart_title_block {
  width: 400px;
  height: 151px;
  margin: auto;
  margin-top: 130px;
}

.title_chart {
  border-bottom: 2px solid #00000080;
  width: 400px;
  height: 58px;
}

.title_chart h1 {
  text-align: center;
  font-weight: 700;
  margin: 58px 0px;
}

.chart_edit_btn {
  display: block;
  text-align: center;
  line-height: 48px;
  color: white;
  width: 152px;
  height: 53px;
  padding: 2px 0px;
  font-size: 18px;
  background-color: $main-color;
  border-radius: 4px;
  border-bottom: 0;
  margin: auto;
  margin-top: 40px;
  &:hover {
    color: white;
    background-color: $hover-white;
  }
}


/* learning page*/
.category_frame {
  border: 1px solid #00000080;
  border-radius: 8px;
  padding: 40px;
}
.roll_title {
  text-align: left;
  width: 240px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid #000000BF;
}
.skill_name {
  display: inline-block; 
  width: 240px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  padding-left: 40px;
}
.study_time {
  display: inline-block; 
  width: 240px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
}
.skill_form {
  //border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 0px #0000001F, 0px 2px 2px 0px #00000024, 0px 3px 1px -2px #00000033;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.table {width: 100%;
border: 1px solid #000000;}
.table_header {display: table-row;
  height: 57px;}
.table_header_cell {display: table-cell;
  line-height: 57px;
  font-weight: 500;}
.table_row {//display: table-row;
  height: 73px;
  border-top: 1px solid #E0E0E0;}
.table_cell {display: table-cell;}
.skill_add_btn {
  display: block;
  margin: 0 0 0 auto;
  text-align: center;
  line-height: 48px;
  color: white;
  width: 178px;
  height: 48px;
  font-size: 14px;
  background-color: $main-color;
  border-radius: 4px;
  border-bottom: 0;
}
.hours_select {
  width: 160px;
  height: 40px;
  border: 1px solid #0000003B;
  border-radius: 4px;
  color: #0000008A;
  line-height: 19px;
  margin-bottom: 0px;
  margin: 16px 0px;
}
.save_btn {
  display: inline-block; 
  color: $main-color;
  width: 158px;
  height: 32px;
  font-size: 14px;
  line-height: 16.4px;
  background-color: white;
  border: 1px solid $main-color;
  border-radius: 4px;
  border-color: $main-color;
  margin-bottom: 0px;
}
.delete_btn {
  color: white;
  width: 88px;
  height: 32px;
  font-size: 14px;
  line-height: 16.4px;
  background-color: #EE6969;
  border-radius: 4px;
  border-bottom: 0;
  margin-bottom: 0px;
  margin-left: 25px;
}


/* modal */
#mask {
  background-color: rgba(0, 0, 0, 0.5);/*背景色の指定*/
  position: fixed; /* スクロールで移動しないようmodalの位置を固定 */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1; /*z-index を持つ要素はより小さな要素の上に重なる*/
}

#modal_save {
  position: fixed;/* スクロールで移動しないようmodalの位置を固定 */
  top: 20vh; /*上端からの距離の指定、今回は画面上から２０％の位置から配置*/
  left: 0; /*左からの距離の指定*/
  right: 0; /*右からの距離の指定*/
  margin: 0 auto; /*上２つと合わせ中央に配置される*/
  transform: translate(0, 0) scale(1); /*平行移動（translate）、拡大縮小（scale）の指定*/
  transition: 0.2s; /*上記trancsformに要する時間、今回は0.2秒*/
  z-index: 2; /*z-index を持つ要素はより小さな要素の上に重なる*/
  width: 50vw; /*モーダルの幅の指定、今回はvwを用いて画面の50%幅でモーダルを作成*/
  background-color: white; /*背景色*/
  border-radius: 8px; /*角の処理、指定することで丸みを帯びる*/
}

#modal_destroy {
  position: fixed;/* スクロールで移動しないようmodalの位置を固定 */
  top: 20vh; /*上端からの距離の指定、今回は画面上から２０％の位置から配置*/
  left: 0; /*左からの距離の指定*/
  right: 0; /*右からの距離の指定*/
  margin: 0 auto; /*上２つと合わせ中央に配置される*/
  transform: translate(0, 0) scale(1); /*平行移動（translate）、拡大縮小（scale）の指定*/
  transition: 0.2s; /*上記trancsformに要する時間、今回は0.2秒*/
  z-index: 2; /*z-index を持つ要素はより小さな要素の上に重なる*/
  width: 50vw; /*モーダルの幅の指定、今回はvwを用いて画面の50%幅でモーダルを作成*/
  background-color: white; /*背景色*/
  border-radius: 8px; /*角の処理、指定することで丸みを帯びる*/
}

#easyModal {
  position: fixed;/* スクロールで移動しないようmodalの位置を固定 */
  top: 20vh; /*上端からの距離の指定、今回は画面上から２０％の位置から配置*/
  left: 0; /*左からの距離の指定*/
  right: 0; /*右からの距離の指定*/
  margin: 0 auto; /*上２つと合わせ中央に配置される*/
  transform: translate(0, 0) scale(1); /*平行移動（translate）、拡大縮小（scale）の指定*/
  transition: 0.2s; /*上記trancsformに要する時間、今回は0.2秒*/
  z-index: 2; /*z-index を持つ要素はより小さな要素の上に重なる*/
  width: 50vw; /*モーダルの幅の指定、今回はvwを用いて画面の50%幅でモーダルを作成*/
  background-color: white; /*背景色*/
  border-radius: 8px; /*角の処理、指定することで丸みを帯びる*/
}

#mask.hidden {
  opacity: 0; /*透明度*/
  visibility: hidden; /*視認性、最初は隠しておきたいのでhiddenを指定*/
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8); /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}





/*Test basic operation*/
.test {background-color: white;}

/*Test block*/
.block {display: block;}
.inline {display: inline;}
.inline_block {display: inline-block;}
.flex {display: flex;}

/*Test align*/
.center {text-align:  center;}
.right {text-align:  right;}
.left {text-align:  left;}

/*Test width*/
.width240 {width: 240px;}
.width200  {width: 200px;}

/*Test tool*/
.hidden {text-indent: -9999px;} //見えないけど読み上げツールで反応させたいとき

