<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="header">
        My Portfolio
    </div>

    <nav> 
      <ul
        <li>
            <%= link_to "ログイン",  '/', id: "header-login-Button" %>
        </li>
      </ul>
    </nav>
  </div>
</header>