<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div id="header">
        My Portfolio
    </div>

    <nav> 
      <% if logged_in? %>
        <li><%= link_to "ログアウト", 'logout_path', class: "header-Button", method: :delete %></li>
      <% else %>
        <li><%= link_to "ログイン",  '/', class: "header-Button" %></li>
      <% end %>
    </nav>

  </div>
</header>